{% extends "base.html" %}
{% block titulo %} Tienda – uoMusic {% endblock %}
{% block contenido_principal %}

<!-- Búsqueda -->
<div class="row">
    <div id="custom-search-input ">
        <form action="/tienda" method="get">
            <div
                    class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input class="search-query form-control" name="busqueda"
                       placeholder="Nombre de la canción" type="text"/>
                <span class="input-group-btn">
                    <button class="btn" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<h2>Autores</h2>
<div class="row">
    {% for autor in autores %}
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div style="width: 200px">
            <div class="wrap">Autor</div>
            <div class="small">{{ autor.nombre }}</div>
            <div class="wrap">Grupo</div>
            <div class="small">{{ autor.grupo }} </div>
            <div class="wrap">Rol</div>
            <div class="small">{{ autor.rol }}</div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}